# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.iml
*.xml
main
adrestia-cron/fb_conf.json
models/docs/exchanges.md
api/exchanges/config/*.json
api/testfile.go
.env
.DS_Store
*.log
